<div class="m-2">
  <ngx-datatable class="material" [rows]="rows" [columns]="columns"> </ngx-datatable>
</div>

<ngx-datatable-column name="Name">
  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
    <span title="Double click to edit" (dblclick)="editing[rowIndex + '-name'] = true" *ngIf="!editing[rowIndex + '-name']">
        {{value}}
      </span>
    <input autofocus (blur)="this.updateValue($event, 'name', rowIndex)" *ngIf="editing[rowIndex+ '-name']" type="text" [value]="value"
    />
  </ng-template>
</ngx-datatable-column>
